@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Scrollbar style*/
	* {
		scroll-behavior: smooth;
	}

	*::-webkit-scrollbar {
		width: 8px;
		background-color: #6f6f6f;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #545454;
		border-radius: 50px;
	}

	/* Animations */

	/* GitHub */
	.gitHubAnimation {
		animation: onShowGitHub 2s ease-out running;
	}

	@keyframes onShowGitHub {
		0% {
			opacity: 0;
			transform: translateY(-100%);
		}

		100% {
			opacity: 1;
			transform: translateY(0%);
		}
	}

	/* About */

	.aboutAnimation a {
		animation: onShowLogo 2s ease-in-out running;
	}

	@keyframes onShowLogo {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.aboutAnimation h2 {
		animation: onShowDescription 3s ease-in-out running;
	}

	@keyframes onShowDescription {
		0% {
			opacity: 0;
			transform: scale(0.95);
		}

		100% {
			opacity: 1;
			transform: scale(1);
		}
	}

	.formAnimation {
		animation: onShowForm 3s ease-in-out running;
	}

	@keyframes onShowForm {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	/* Forms */

	/* Input-Span down/up Effect */
	.inputForm input:not(:placeholder-shown) ~ span,
	.inputForm textarea:not(:placeholder-shown) ~ span,
	.inputForm input:focus ~ span,
	.inputForm textarea:focus ~ span {
		transform: translateY(-20px);
		font-size: 14px;
		color: #f6f6f6;
	}

	/* Text Shadow */

	.textShadow {
		text-shadow: black 0px 4px 20px;
	}

	/* Border Bottom */

	* {
		border-bottom-color: #a5a5a5;
	}

	/* Alert */

	.alertAnimation {
		animation: onShowAlert 5s ease-in-out running;
	}

	@keyframes onShowAlert {
		0% {
			opacity: 0;
			transform: translateX(100%);
		}

		25% {
			transform: translateX(0%);
		}

		50% {
			opacity: 1;
			transform: translateX(0%);
		}

		75% {
			opacity: 1;
			transform: translateX(0%);
		}

		95% {
			opacity: 0;
		}

		100% {
			opacity: 0;
			transform: translateX(110%);
		}
	}

	/* Scrollbar  */

	/* @media (max-width: 1024px) {
		*::-webkit-scrollbar {
			display: none;
		}
	} */
}
